<% layout('layouts/boilerplate')%>
    <h1>
        <%= campgroundById.title %>
    </h1>
    <h2>
        <%= campgroundById.location %>
    </h2>
    <img src="<%= campgroundById.image %>" alt="No">
    <p>
        <%= campgroundById.decription %>
    </p>
    <footer>
        <a href="/campgrounds">All camps</a>
        <form action="/campgrounds/<%=campgroundById._id%>?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>
        <a href="/campgrounds/<%=campgroundById._id %>/edit">edit</a>
    </footer>